$colors: (
  cl-dark: #353b48,
  cl-dark-1: #2f3640,
  cl-light: #f5f6fa,
  cl-light-1: #dcdde1,
  cl-grey: #7f8fa6,
  cl-grey-1: #718093,
  cl-red: #e84118,
  cl-red-1: #c23616,
  cl-dark-blue: #273c75,
  cl-dark-blue-1: #192a56,
  cl-light-blue: #00a8ff,
  cl-light-blue-1: #0097e6,
  cl-blue: #487eb0,
  cl-blue-1: #40739e,
  cl-green: #4cd137,
  cl-green-1: #44bd32,
  cl-yellow: #fbc531,
  cl-yellow-1: #e1b12c,
  cl-purple: #9c88ff,
  cl-purple-1: #8c7ae6
);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        